.subtitle {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: x-large;
}

.logo-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4px;
  margin-top: 15px;
}

.logo-h1 {
  color: #0054e9;
}
.logo {
  align-self: center;
  justify-content: center;
  width: 64px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.ioTitle {
  font-size: x-large;
  font-weight: bold;
}

.add-profile {
  display: block;
  text-align: center;
}
.dodaj-h3 {
  font-size: medium;
  color: #0054e9;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.profile-card p {
  margin-top: 10px;
  font-size: 1.2em;
}

/* LandingPage.css */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
