.avatar {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-weight: 400;
  background-color: #333;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.avatar-letter {
  font-size: 2em;
  color: inherit;
}

.avatar-text {
  text-align: center;
  margin-top: 10px;
  color: #333;
}
